@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Monoton&display=swap');




* {
	overflow-x: hidden;
	/*background-color: grey;*/
}











.about-h {
	font-size: 17vw !important;
	font-family: 'Monoton', cursive;
	/*color: White;*/
}

.a-above {
	background-color: ;
	font-family: 'Monoton', cursive;
	
}



























.contact-h {
	font-size: 17vw !important;
	font-family: 'Monoton', cursive;
	/*color: white;*/
}

